/** Your theme modifications here **/
.daftar,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
	display:block;
	width:100% \9;
	max-width:100%;
	height:auto
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
	display:block;
	width:100% \9;
	max-width:100%;
	height:auto
}